In [ ]:
import pandas as pd
import os

##########################################################
# Mostramos las tablas con todas sus columnas seguidas
pd.set_option('display.max_columns', None)      # Mostrar todas las columnas
pd.set_option('display.max_colwidth', None)     # Sin límite en ancho de columna
pd.set_option('display.expand_frame_repr', False)  # No dividir el dataframe en varias líneas
pd.set_option('display.width', 0)               # Ajusta el ancho a la ventana del terminal
##########################################################

# Cargar dataset
df = pd.read_csv('../data/raw/global_earthquakes_10y.csv')

print(df.head(20))

                                time  latitude   longitude   depth   mag magType   nst    gap     dmin   rms net          id                   updated                                  place        type  horizontalError  depthError  magError  magNst    status locationSource magSource
0   2015-12-30 23:20:56.840000+00:00    0.0229  123.819400  143.05  4.60      mb   NaN   51.0   1.4880  0.83  us  us10004aif  2016-03-18T01:13:08.040Z      101 km SE of Gorontalo, Indonesia  earthquake             6.40        6.70     0.083    43.0  reviewed             us        us
1   2015-12-30 21:29:23.040000+00:00  -30.6777  -71.734600   25.62  4.50      mb   NaN  180.0   0.0850  0.94  us  us10004ahx  2016-03-18T01:13:08.040Z               52 km W of Ovalle, Chile  earthquake             3.90        5.40     0.192     8.0  reviewed             us        us
2   2015-12-30 19:50:48.210000+00:00  -40.5641  173.421900  142.40  4.60      mb   NaN   65.0   0.6530  0.70  us  us10004agf  2022-08-02T02:00:26.953Z       61 km ENE of Takaka, New Zealand  earthquake             7.30        6.30     0.097    34.0  reviewed             us        us
3   2015-12-30 18:26:34.610000+00:00  -24.4715 -175.871600   24.21  4.90      mb   NaN   77.0   5.0970  0.99  us  us10004bu1  2016-11-10T22:06:33.391Z                         south of Tonga  earthquake            13.70        4.70     0.074    57.0  reviewed             us        us
4   2015-12-30 14:46:47.730000+00:00   -5.9568  154.961100  184.56  4.50      mb   NaN   94.0   3.2920  0.76  us  us10004btx  2016-03-18T01:13:08.040Z  70 km NW of Panguna, Papua New Guinea  earthquake            11.60        8.20     0.101    29.0  reviewed             us        us
5   2015-12-30 12:57:36.210000+00:00   33.8836  137.321100  338.23  4.50      mb   NaN   57.0   1.0660  0.75  us  us10004aep  2016-03-18T01:13:08.040Z               79 km SSE of Toba, Japan  earthquake             7.40        5.80     0.053   103.0  reviewed             us        us
6   2015-12-30 12:50:12.930000+00:00  -18.0505 -178.708500  607.86  4.50      mb   NaN  192.0   3.0980  0.67  us  us10004bu0  2016-03-18T01:13:08.040Z               209 km E of Levuka, Fiji  earthquake            14.20       12.70     0.140    15.0  reviewed             us        us
7   2015-12-30 11:53:51.690000+00:00   40.9013  142.791500   51.54  4.50      mb   NaN  134.0   1.1460  0.60  us  us10004aeg  2016-03-18T01:13:08.040Z         117 km ENE of Hachinohe, Japan  earthquake             7.50        7.70     0.136    20.0  reviewed             us        us
8          2015-12-30 11:08:36+00:00  -21.9779 -174.470100   46.15  5.00      mb   NaN   50.0   7.8800  0.85  us  us10004ae8  2016-11-10T22:06:32.298Z                                  Tonga  earthquake             8.50        5.40     0.043   177.0  reviewed             us        us
9          2015-12-30 10:46:44+00:00   19.3214  121.127300   28.55  4.50      mb   NaN   51.0   3.4790  0.95  us  us10004ae4  2016-03-18T01:13:08.040Z         78 km N of Namuac, Philippines  earthquake             7.70        4.70     0.085    43.0  reviewed             us        us
10  2015-12-30 09:00:21.700000+00:00  -24.3892 -179.892300  513.83  4.50      mb   NaN  111.0  12.7740  0.65  us  us10004btp  2016-03-18T01:13:08.040Z              south of the Fiji Islands  earthquake            14.20        9.80     0.110    24.0  reviewed             us        us
11  2015-12-30 07:39:29.310000+00:00   48.5865 -123.300333   52.42  4.79      ml  27.0   81.0   0.1167  0.19  uw  uw61114971  2024-08-10T23:57:40.199Z      12 km SE of North Saanich, Canada  earthquake             0.43        0.67     0.137   178.0  reviewed             uw        uw
12  2015-12-30 03:25:34.030000+00:00   14.1370  -91.109800   81.05  5.00     mwr   NaN  131.0   0.6850  0.83  us  us10004acp  2022-08-02T01:48:12.934Z        8 km NW of La Gomera, Guatemala  earthquake             7.00        1.70     0.069    20.0  reviewed             us        us
13  2015-12-30 02:58:36.450000+00:00  -34.4192 -109.354300   10.00  5.00      mb   NaN   65.0  28.9740  0.80  us  us10004aci  2016-11-10T22:06:30.061Z             southern East Pacific Rise  earthquake            14.70        1.80     0.053   114.0  reviewed             us        us
14  2015-12-29 23:36:18.430000+00:00  -40.6130  176.055400   36.37  4.80      mb   NaN   97.0   0.1590  0.79  us  us10004abn  2016-03-18T01:13:07.040Z  34 km NNW of Castlepoint, New Zealand  earthquake             5.70        5.70     0.134    17.0  reviewed             us        us
15  2015-12-29 22:36:04.770000+00:00  -41.1803   44.221200   10.00  4.60      mb   NaN   53.0   7.6180  0.90  us  us10004brs  2016-03-18T01:13:07.040Z                  Crozet Islands region  earthquake            11.80        1.90     0.112    24.0  reviewed             us        us
16  2015-12-29 21:28:30.670000+00:00  -56.3193  -26.890300  103.78  4.70      mb   NaN   57.0   5.8490  0.59  us  us10004brq  2016-03-18T01:13:07.040Z          South Sandwich Islands region  earthquake            11.50        1.90     0.094    34.0  reviewed             us        us
17  2015-12-29 20:25:11.910000+00:00  -34.5835 -109.449100   13.09  4.80      mb   NaN   74.0  30.6970  0.68  us  us10004aa6  2016-11-10T22:06:28.940Z             southern East Pacific Rise  earthquake            17.40        4.70     0.085    43.0  reviewed             us        us
18  2015-12-29 20:02:41.290000+00:00  -23.5229 -179.284000  564.34  4.50      mb   NaN  214.0   6.2660  0.46  us  us10004bri  2016-03-18T01:13:07.040Z              south of the Fiji Islands  earthquake             9.40       22.80     0.150    13.0  reviewed             us        us
19  2015-12-29 17:38:22.260000+00:00  -10.0330  114.202300   33.42  4.70      mb   NaN   67.0   1.5530  1.08  us  us10004a9b  2016-03-18T01:13:06.040Z       173 km SW of Jimbaran, Indonesia  earthquake             6.20        5.10     0.088    39.0  reviewed             us        us
Tamaño del df: (80829, 22)

In [14]:
print("## Tamaño del df:", df.shape)
print("## Tipos de datos del df:", df.dtypes)
print("## Suma de nulos por columna:", df.isnull().sum())

## Tamaño del df: (80829, 22)
## Tipos de datos del df: time                object
latitude           float64
longitude          float64
depth              float64
mag                float64
magType             object
nst                float64
gap                float64
dmin               float64
rms                float64
net                 object
id                  object
updated             object
place               object
type                object
horizontalError    float64
depthError         float64
magError           float64
magNst             float64
status              object
locationSource      object
magSource           object
dtype: object
## Suma de nulos por columna: time                   0
latitude               0
longitude              0
depth                  0
mag                    0
magType                0
nst                53469
gap                  690
dmin                 733
rms                    2
net                    0
id                     0
updated                0
place                  0
type                   0
horizontalError      401
depthError             0
magError            2233
magNst              2046
status                 0
locationSource         0
magSource              0
dtype: int64

In [ ]:
# Ramgos

# mostrar el rango de la columna mag
min_mag = df['mag'].min()
max_mag = df['mag'].max()
print("## Rango de magnitudes:", min_mag, "a", max_mag) # >0 y <10

# Rango de Lat, Lon

# mostrar el rango de Lat, Lon
min_lat = df['latitude'].min()
max_lat = df['latitude'].max()
print("## Rango Latitude:", min_lat, "a", max_lat) # >-90 y <90

min_lon = df['longitude'].min()
max_lon = df['longitude'].max()
print("## Rango Longitud:", min_lon, "a", max_lon) # >-180 y <180

## Rango de magnitudes: 4.5 a 8.8
## Rango Latitude: -79.9837 a 87.386
## Rango Longitud: -179.9997 a 179.9993

In [21]:
# Valores extremos de cualquier columna numérica
numeric_cols = df.select_dtypes(include=['float64', 'int64']).columns   
for col in numeric_cols:
    min_val = df[col].min()
    max_val = df[col].max()
    print(f"## Rango de {col}: {min_val} a {max_val}")      

# Estadísticas descriptivas
print("## Estadísticas descriptivas:")  
print(df.describe())

## Rango de latitude: -79.9837 a 87.386
## Rango de longitude: -179.9997 a 179.9993
## Rango de depth: -1.01 a 683.36
## Rango de mag: 4.5 a 8.8
## Rango de nst: 0.0 a 619.0
## Rango de gap: 7.0 a 348.0
## Rango de dmin: 0.0 a 62.626
## Rango de rms: 0.0 a 2.82
## Rango de horizontalError: 0.0 a 51.7
## Rango de depthError: 0.0 a 61.9
## Rango de magError: 0.0 a 0.91
## Rango de magNst: 0.0 a 1027.0
## Estadísticas descriptivas:
           latitude     longitude         depth           mag           nst           gap          dmin           rms  horizontalError    depthError      magError        magNst
count  80829.000000  80829.000000  80829.000000  80829.000000  27360.000000  80139.000000  80096.000000  80827.000000     80428.000000  80829.000000  78596.000000  78783.000000
mean      -0.525363     36.582477     62.099890      4.804183     69.063962     92.480061      4.382253      0.784162         8.421941      3.850589      0.094425     59.930658
std       30.426980    122.613140    113.441409      0.371116     49.729273     44.341165      5.615957      0.239056         2.977473      2.729186      0.047371     78.052823
min      -79.983700   -179.999700     -1.010000      4.500000      0.000000      7.000000      0.000000      0.000000         0.000000      0.000000      0.000000      0.000000
25%      -21.810900    -71.597900     10.000000      4.500000     34.000000     59.000000      1.333000      0.620000         6.400000      1.881000      0.061000     18.000000
50%       -4.217800     94.866200     13.660000      4.700000     56.000000     87.000000      2.556000      0.760000         8.120000      2.000000      0.086000     33.000000
75%       23.140400    142.182300     57.292000      4.900000     90.000000    121.000000      5.009000      0.930000        10.270000      5.700000      0.118000     67.000000
max       87.386000    179.999300    683.360000      8.800000    619.000000    348.000000     62.626000      2.820000        51.700000     61.900000      0.910000   1027.000000

In [26]:
# Conteo de actualizaciones por ID
updated_counts = df.groupby('id')['updated'].count()
print("## Conteo de actualizaciones por ID:")
print(updated_counts)

# identificar ids con más de una actualización
duplicate_ids = updated_counts[updated_counts > 1]
print("## IDs con más de una actualización:")
print(duplicate_ids)

# explorar las filas con ids duplicados
if not duplicate_ids.empty:
    duplicate_rows = df[df['id'].isin(duplicate_ids.index)]
    print("## Filas con IDs duplicados:")
    print(duplicate_rows)   
else:
    print("## No hay IDs duplicados.")  

# Verificar si hay filas duplicadas completas
duplicate_rows_full = df[df.duplicated()]
print("## Filas duplicadas completas:")
print(duplicate_rows_full)
if duplicate_rows_full.empty:
    print("## No hay filas duplicadas completas.")
else:
    print("## Hay filas duplicadas completas.") 

# Verificar si hay filas con la misma latitud, longitud y tiempo
duplicate_location_time = df[df.duplicated(subset=['latitude', 'longitude', 'time'])]
print("## Filas con misma latitud, longitud y tiempo:")
print(duplicate_location_time)
if duplicate_location_time.empty:
    print("## No hay filas con misma latitud, longitud y tiempo.")  
else:
    print("## Hay filas con misma latitud, longitud y tiempo.")

## Conteo de actualizaciones por ID:
id
aacse0198bme8d8    1
ak01529eirts       1
ak0152xyw58h       1
ak01549xx0v9       1
ak0155aai4oy       1
                  ..
uu60364832         1
uw61114971         1
uw61535372         1
uw61562126         1
uw62078906         1
Name: updated, Length: 80829, dtype: int64
## IDs con más de una actualización:
Series([], Name: updated, dtype: int64)
## No hay IDs duplicados.
## Filas duplicadas completas:
Empty DataFrame
Columns: [time, latitude, longitude, depth, mag, magType, nst, gap, dmin, rms, net, id, updated, place, type, horizontalError, depthError, magError, magNst, status, locationSource, magSource]
Index: []
## No hay filas duplicadas completas.
## Filas con misma latitud, longitud y tiempo:
                                   time  latitude  longitude  depth  mag magType  nst  gap  dmin   rms net            id                   updated                                place        type  horizontalError  depthError  magError  magNst    status locationSource magSource
49578  2021-02-27 18:59:25.296000+00:00    61.319  -149.9334   46.0  5.3     mww  NaN  NaN   NaN  1.08  ak  ak0212o88mof  2023-02-12T21:16:08.890Z  5 km SSE of Point MacKenzie, Alaska  earthquake              NaN         0.1       NaN     NaN  reviewed             ak        ak
## Hay filas con misma latitud, longitud y tiempo.